[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
nltk = "*"
gensim = "*"
pyhanlp = "*"
"py2neo" = "*"
pyltp = "*"
elasticsearch = "*"
pytest = "*"
stanfordcorenlp = "*"

[dev-packages]

[requires]
python_version = "3.6"
